body {
    background-image: url(img/288916_beach-background-images-9020-hd-wallpapers-site_2960x1850_h.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1950px;
    background-position: center;
}

.tree {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(81, 80, 72);
}

.branch {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    width: 49%;
    /* background-color: rgba(165, 42, 42, 0.547); */
    padding: 30px;
    
    border: black 1px solid;
    border-radius: 30px;
    margin-bottom: 3%;




}

.right {
    display: flex;
    flex-direction: column;
    width: 49%;
    /* background-color: rgba(0, 0, 255, 0.545); */
    /* padding: 30px; */



}

.left h1 {
    text-align: center;
    text-decoration: none;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


.left p {
    text-align: center;


}







@media (min-width: 2560px ) {
    body {
        background-size: 2600px;
    }

    h1 {
        font-size: x-large;

    }

    p {
        font-size: x-large;
    }
 
}


@media (max-width: 768px ) {
    .right {
        width: 0%;
    }

    .left {
        width: 90%;
        align-self: center;

    }

    .branch {
        justify-content: center;

        

    }

}


@media (max-width: 375px ) {
    .right {
        width: 0%;
    }

    .left {
        width: 90%;
        align-self: center;

    }

    h1 {
        font-size: small;
    }
    
    p {
        font-size: small;

    }

    .branch {
        justify-content: center;

        

    }

}